HOSTNAME=localhost
PORT=3000
NODE_ENV=development
WEB_DOMAIN=http://localhost:5001
API_DOMAIN=http://localhost:3000
SUPABASE_URL=https://yoursupabaseurl.supabase.co
SUPABASE_ANON_KEY=arealyreallylongkey
SUPABASE_REST=${SUPABASE_URL}/rest/v1/?apikey=${SUPABASE_ANON_KEY}